:root {
    --headings: 'Indie Flower', cursive;
    --font: 'Montserrat', sans-serif;
    --blue: #1070c1;
    --red: #FE0002;
    --yellow: #dbdb1b;
    --green: #00AF52;
    --white: #FFFFFF;
    --grey: #f3efef;

}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    font-family: var(--font);
}

h1 {
    font-family: var(--headings);
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    padding: 0.5em;
}
#date-time{
    color:  var(--blue);
    font-size: 1.2em;
}
.btn{
    border-radius: 25px;
    float: right;
}
#two, #three, #four{
    font-size: 1.6em;
    text-align: center;
    font-family: var(--headings);
}
#two{
    color: var(--red);
}
#three{
    color: var(--green);
}
#four{
    color: var(--blue);
}
.table{
    margin-top: 1.3em;
}
.deleteBtn{
    color: white;
    background-color: var(--yellow);
    border: none;
    padding: 0.5em;
    border-radius: 25px;
}
.project, .language, .date{
   text-align: center;

}